[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lcutils = {ref = "main", git = "https://${GITHUB_USER}:${GITHUB_PAT}@github.com/${GITHUB_REPO}.git"}
numpy = "*"
pandas = "*"
python-dotenv = "*"
matplotlib = "*"
dask = {extras = ["dataframe", "delayed", "distributed"], version = "*"}
sendgrid = "*"
bokeh = "*"
xarray = "*"
numba = "*"
numbagg = "*"
scipy = "*"

[dev-packages]
ipykernel = "*"
jupyter = "*"
black = {extras = ["jupyter"], version = "*"}
pylama = "*"
pooch = "*"

[requires]
python_version = "3.9"
