[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
boto3 = {extras = ["crt"], version = "*"}
dask = {extras = ["dataframe", "distributed"], version = "*"}
dask-cloudprovider = "*"
flask = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
sendgrid = "*"
xarray = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
ipykernel = "*"
jupyter = "*"
pylama = "*"

[requires]
python_version = "3.9"
