[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
boto3 = {extras = ["crt"], version = "*"}
cloudpickle = "*"
dask = {extras = ["dataframe", "diagnostics", "distributed"], version = "*"}
lz4 = "~=4.0.0"
numpy = "*"
pandas = "*"
python-dotenv = "*"
xarray = "*"

[dev-packages]
black = {version = "*"}
pylama = "*"

[requires]
python_version = "3.9.13"
