-i https://pypi.org/simple
aiobotocore==2.4.1
aiohttp==3.8.3; python_full_version >= '3.6.0'
aioitertools==0.11.0; python_full_version >= '3.6.0'
aiosignal==1.3.1; python_version >= '3.7'
async-timeout==4.0.2; python_full_version >= '3.6.0'
attrs==22.1.0; python_version >= '3.5'
awscrt==0.14.0
black==22.10.0
bokeh==2.4.3
boto3[crt]==1.24.59
botocore==1.27.59; python_version >= '3.7'
cached-property==1.5.2
cerberus==1.3.4
certifi==2022.9.24; python_full_version >= '3.6.0'
chardet==5.0.0; python_full_version >= '3.6.0'
charset-normalizer==2.1.1; python_full_version >= '3.6.0'
click==8.1.3; python_version >= '3.7'
cloudpickle==2.2.0
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
dask[dataframe,diagnostics,distributed]==2022.10.0
dask-cloudprovider[aws]==2022.10.0
distlib==0.3.6
distributed==2022.10.0
frozenlist==1.3.3; python_version >= '3.7'
fsspec==2022.11.0; python_version >= '3.7'
heapdict==1.0.1
idna==3.4; python_version >= '3.5'
jinja2==3.1.2; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
locket==1.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
lz4==4.0.2
markupsafe==2.1.1; python_version >= '3.7'
msgpack==1.0.4
multidict==6.0.2; python_version >= '3.7'
mypy-extensions==0.4.3
numpy==1.23.4
orderedmultidict==1.0.1
packaging==20.9; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pandas==1.5.1
partd==1.3.0; python_version >= '3.7'
pathspec==0.10.2; python_version >= '3.7'
pep517==0.13.0; python_full_version >= '3.6.0'
pillow==9.3.0; python_version >= '3.7'
pip==22.3.1; python_version >= '3.7'
pip-shims==0.7.3; python_full_version >= '3.6.0'
pipenv-setup[black]==3.2.0
pipfile==0.0.2
platformdirs==2.5.4; python_version >= '3.7'
plette[validation]==0.4.2; python_version >= '3.7'
plotly==5.11.0
psutil==5.9.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyarrow==10.0.1; python_version >= '3.7'
pylance==0.2.4
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==0.21.0
pytz==2022.6
pyyaml==6.0; python_full_version >= '3.6.0'
requests==2.28.1; python_version >= '3.7' and python_version < '4'
requirementslib==1.6.9; python_version >= '3.7'
s3transfer==0.6.0; python_version >= '3.7'
scipy==1.9.3
setuptools==65.6.3; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sortedcontainers==2.4.0
tblib==1.7.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
tenacity==8.1.0; python_full_version >= '3.6.0'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
tomli==2.0.1; python_full_version < '3.11.0a7'
tomlkit==0.11.6; python_full_version >= '3.6.0'
toolz==0.12.0; python_version >= '3.5'
tornado==6.1; python_version >= '3.5'
typing-extensions==4.4.0; python_version >= '3.7'
urllib3==1.26.13; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
vistir==0.7.4; python_version >= '3.7'
wheel==0.38.4; python_version >= '3.7'
wrapt==1.14.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
xarray==2022.9.0
yarl==1.8.1; python_version >= '3.7'
zict==2.2.0; python_version >= '3.7'
