{% extends "components/base.html" %}

{% block content %}
<div id="calc-page">
    <div style="padding-top: 10rem; margin-bottom: 15rem; padding-bottom: 15rem;">
        <div tabindex="0" class="calc-config-container">

            <h2 style="font-Size: 2.4rem;">To Configure a Simulation</h2>
            <p><b>Download the Excel macro-enabled workbook below that will help create the input data files for this
                    calculator. You are required to fill out the Harvest Data and Timber Products worksheets, the rest
                    of the files are optional.
                    Please export to .CSV files and upload them below. Changing the format of the worksheets will cause
                    the model to fail.</b></p>
            <a href="../../static/storage/Templates.xlsx" download><button>Download Excel
                    Workbook</button></a>
        </div>

        {% include "components/accordion.html" %}

    </div>
    {% if error %}
    <script>
        alert("{{ error }}");
    </script>
    {% endif %}
    {% endblock content %}