{% extends "components/base.html" %}

{% block content %}
<div id="contact" class="bg">
    <div style="padding-bottom: 15rem;">
        <div class="contact-container" style="padding-top: 10rem;">

            <div class="contact-content">
                <h1>Contact Us</h1>
                <br>
                </p>

                <h2>General Inquiries</h2>
                <h3>Keith D. Stockman, PhD</h3>
                <p>
                    Economist / Project Leader<br />
                    U.S. Forest Service<br />
                    National Technology and Development Program</p>
                <p>
                    <span class="label">Email:</span>
                    <span><a href="mailto:kstockmann@fs.fed.us">kstockmann@fs.fed.us</a></span>
                </p>
                </p>

                <h2>Calculator Technical Inquiries</h2>
                <h3>Dan Loeffler</h3>
                <p>
                    Economist, Forest Industry Research<br />
                    Bureau of Business and Economic Research<br />
                    University of Montana
                </p>
                <p>
                    <span class="label">Email:</span>
                    <span><a href="mailto:dan.loeffler@mso.umt.edu">dan.loeffler@mso.umt.edu</a></span>
                </p>

                <h2>Web Technical Inquiries</h2>
                <h3>Susan Higashi</h3>
                <p>USDA Enterprise Application Developer</p>
                <p>
                    <span class="label">Email:</span>
                    <span><a href="mailto:susan.higashi@usda.gov">susan.higashi@usda.gov</a></span>
                </p>


                <h2>Test Inquiries</h2>
                <h3>Lorem Ipsum</h3>
                <p>
                    <span class="label">Email:</span>
                    <span><a href="mailto:claire@test.com">claire@test.com</a></span>
                </p>

                <h2>Test Inquiries</h2>
                <h3>Lorem Ipsum</h3>
                <p>
                    <span class="label">Email:</span>
                    <span><a href="mailto:claire@test.com">claire@test.com</a></span>
                </p>

                <h2>Test Inquiries</h2>
                <h3>Lorem Ipsum</h3>
                <p>
                    <span class="label">Email:</span>
                    <span><a href="mailto:claire@test.com">claire@test.com</a></span>
                </p>

                <h2>Test Inquiries</h2>
                <h3>Lorem Ipsum</h3>
                <p>
                    <span class="label">Email:</span>
                    <span><a href="mailto:claire@test.com">claire@test.com</a></span>
                </p>

                <h2>Test Inquiries</h2>
                <h3>Lorem Ipsum</h3>
                <p>
                    <span class="label">Email:</span>
                    <span><a href="mailto:claire@test.com">claire@test.com</a></span>
                </p>
            </div>





        </div>
    </div>
    {% endblock content%}