<div class="footer-container">
    <span>
        <h2 class=""><a href="/home"><img src="../../static/images/hwpc-logo-1.svg" alt="HWPCarbon Logo"
                    height="20px"></a></h2>
    </span>
    <div>
        <p>Website and Program built by Lankston Consulting LLC Email: <a
                href="mailto:contact@lankstonconsulting.com">contact@lankstonconsulting.com</a></p>

    </div>
    <hr>
    <div class="footer-bottom-links">
        <p>&copy;Copyright: Needs copyright</p>
        <p><a href="/terms">Terms of Service</a></p>
        <p><a href="/privacy">Privacy Policy</a></p>
        <p><a href="/reference">Reference</a></p>
    </div>

</div>